body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}
a{
    text-decoration: none;
    outline: none;
    color: inherit;

}
a:focus, a:hover {
    outline: none; /* Remove the outline when focused or hovered */
}
.navbarinhero{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 860px;
    width: 100%;
    background: linear-gradient(45deg, #00A8DB, #27C0EF);
    gap: 28px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 70px;
    height: 38px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navigation i{
    margin-left: 5px;
    font-size: 12px;
}
.navigation a{
    font-size: 14px;
    font-weight: 100;
    color: #FFFFFF;
}
.loginbutton{
    background: linear-gradient(45deg,#328BCB,#005490);
    border-radius: 5px;
    padding: 5px 30px; /* Increase size */
}
.loginbutton:hover{
    color: #00A8DB;
    background: white;
    transition: all 0.3s ease-in-out;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.leftside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 30px;
}

.leftside h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
    width: 623px;
    margin-bottom: 0px;
}
.leftside img{
    position: relative;
    top: -26px;
    width: 200px;
    height: 51px;
}
.leftside p{
    color: #FFFFFF;
    width: 459px;
}
.btns{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    gap: 60px;
}
.btns a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btns a:first-child {
    color: #00A8DB;
    background-color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 4px;
}
.btns a:last-child{
    color: #FFFFFF;
    align-self: center;
}
.btns i{
    display: flex;
    
    margin-left: 5px;
    width: 10px;
}
.rightside{
    width: 50%;
}
.navbarinhero .grpe19{
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 650px;
    height: auto;
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners img{
    padding: 120px;
}
.element1{
    display: flex;
    height: 100vh;
    width:100%;
    margin-top: 20px;
}
.leftside1{
    display: flex;
    width: 70%;
    height: auto;
    position: relative;
    margin-top: 0px;
}
.leftside1 img{
    margin:80px;
    height: auto;
}
.imgvec{
    position: absolute;
    z-index: 1;
}
.imggrp{
    position: relative;
    top: -20px;
    z-index: 2;
}
.rightside1{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 50%;
}
.rightside1 h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.rightside1 p{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.rightside1 a{
    margin-top: 20px;
    color: #04AADD;
}
.rightside1 i{
    margin-left: 5px;
}
.element2{
    display: flex;
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 40px;
}
.leftside2{
    width: 50%;
}
.leftside2 h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.leftside2 p{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
    width: 80%;
}
.leftside2 ul{
    margin: 25px 0;
    list-style-type: none;
    padding: 0px;
}
.leftside2 ul li img{
    margin-right: 15px;
}
.leftside2 ul li{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.leftside2 a{
    font-weight: 700;
    font-size: 16px;
    color: #04AADD;
    text-align: center;
}
.leftside2 i{
    margin-left: 8px;
}
.rightside2{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFFBFF;
    height: 90vh;
    margin-top: 80px;
    padding: 90px;
}
.titlings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.titlings h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.titlings p{
    text-align: center;
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.blocks3{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.block{
    background-color: #FFFFFF;
    width: 218px;
    height: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.svgc1{
    background: linear-gradient(to top left,#EF4444,#FF8989);
    
}
.svgc2{
    background: linear-gradient(to top left,#3B82F6,#86B4FF);
}
.svgc3{
    background: linear-gradient(to top left,#F59E0B,#FFD285);
}
.svgc4{
    background: linear-gradient(to top left,#14B8A6,#48DFCE);
}
.block .svg{
    fill: white;
    height: 24px;
    width: 24px;
    padding: 16px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.block h2{
    color: #034D82;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.block p{
    color: #90A3B4;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 5px;
    width: 188px;
}
.highlight{
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.2);
}
.element4{
    padding: 100px;
    padding-bottom: 40px;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    text-align: start;
}
.right h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 500px;
}
.right h3{
    color: #90A3B4;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 15px;
}
.quote{
    height: 60%;
}
.review p{
    color: #90A3B4;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
    width: 420px;
}
.list{
    display: flex;
    gap: 10px;
}
.list h1{
    font-size: 80px;
    color: #E2ECF4;
    margin: 0px;
    width: fit-content;
}
.list .inhigh{
    color: #034D82;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.photodeprofile{
    width: 56px;
    height: 56px;
}
.profile h1{
    margin: 0px;
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #034D82;
    width: fit-content;
}
.profile p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    margin-top: 5px;
}
.icon{
    position: relative;
    top: 21px;
    color: #005490;
}
.iconright{
    background-color: #005490;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
    top: 21px;
    color: white;
}
.element5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.groupe{
    height: 360px;
    width: 1159px;
    background: linear-gradient(to right,#24CEED,#01B8D9);
    border-radius: 10px;
    display: flex;
    padding: 30px;
}
.partie1 h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF;
    padding: 40px;
    width: 350px;
    padding-bottom: 0px;
}
.partie1 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF;
    width: 350px;
    padding-left: 40px;
}
.others{
    display: flex;
    padding-left: 40px;
}
.others img{
    
    width: 37px;
    height: 37px;
}
.others p{
    margin: 0;
    padding: 0;
    margin-left: 20px;
    text-decoration: underline solid    ;
}
.partie2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.partie2 img {
    position: absolute;
    top: 30px;
    left: 180px;
}

.partie2 a {
    padding: 15px 25px;
    background: #FFFFFF;
    position: relative;
    color: #00B8D9;
    border-radius: 5px;
    left: 100px;
    z-index: 1;

}
.footer{
    background-color: #081315;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: wheat;
}
.el{
    display: flex;
    width: 80%;
    gap: 30px;
    height: 60%;
    justify-content: space-around;
}
.el .logo{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}
.logo img{
    width: 90px;
    height: 28px;
}
.logo ul{
    padding: 0px;
    margin: 0;
}
.logo i{
    padding: 12px;
    color: #D5E2E4;
    background-color:#1C282A; 
    border-radius: 50%;
    margin-left: 5px;
}
.logo p{
    margin-top: 30px;
    margin-bottom: 36px;
    color: #D3D6D8;
    line-height: 28px;
}
.stuff{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.stuff h3{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}
.stuff a{
    color: #D3D6D8;
    font-size: 16px;
    font-weight: 400;
}
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 20%;
    width: 100%;
}
.copyright i{
    font-size: 30px;
    color:white;
    padding: 20px;
    border-radius: 50%;
    background-color: #005490;
}
.copyright h2{
    color:white;
    font-size: 16px;
    font-weight: 700;
}
a:hover{
    color: #005490; /* Color change on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition */
    transform: scale(1.02); /* Slight scale on hover */
}
@media (max-width: 1024px) {
    .rightside{
        display: none;
    }
    .grpe19{
        display: none;
    }
    .leftside{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .partners img{
        width: 80%;
        padding: 80px;
    }
    .leftside1 .imgvec {
        display: none;
    }
    .leftside1 .imggrp {
        margin-left: 20px;
    }
    .leftside1{
        width: 50%;
    }
    .element2{
        margin: 40px;
    }
    .rightside2{
        width: 45%;
        height: auto;
    }
    .rightside2 img{
        width: 120%;
        height: auto;
    }
    .blocks3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .block{
        width: 200px;
    }
    .element3{
        height: 130vh;
    }
    .element4{
        flex-direction: column;
        align-items: center;
    }
    .review{
        margin-top: 90px;
    }
    .iconright{
        background: none;
        color: #005490;
        top: 70px;
    }
    .icon{
        top: 70px;
    }
    .eclipse{
        display: none;
    }
    .groupe{
        height: 70%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partie1{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partie1 p{
        width: fit-content;
        padding-left: 0px;

    }
    .others {
        padding-left: 0px;
    }
    .partie2 a{
        left: 0px;
        padding: 10px 10px;
        width: 132px;
        margin-top: 20px;
    }
    .element5{
        margin-top: 100px;
    }
    .logo i{
        padding: 8px;
    }
}
@media (max-width: 768px){
    .hero{
        margin: 0px;
    }
    .leftside1 .imggrp{
        margin: 0px;
        width: 300px;
    }
    .leftside1{
        display: flex;
        align-items: center;
    }
    .element2 {
        margin: 25px;
    }
    .titlings{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .right{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .partners img {
        width: 80%;
        padding: 60px;
    }
}
@media (max-width: 425){
}