body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}
a{
    text-decoration: none;
    outline: none;
}
.navbarinhero{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 860px;
    width: 100%;
    background: linear-gradient(45deg, #00A8DB, #27C0EF);
    gap: 28px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 70px;
    height: 38px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navigation i{
    margin-left: 5px;
    font-size: 12px;
}
.navigation a{
    font-size: 14px;
    font-weight: 100;
    color: #FFFFFF;
}
.loginbutton{
    background: linear-gradient(45deg,#328BCB,#005490);
    border-radius: 5px;
    padding: 5px 30px; /* Increase size */
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.leftside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 30px;
}

.leftside h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
    width: 623px;
    margin-bottom: 0px;
}
.leftside img{
    position: relative;
    top: -26px;
    width: 200px;
    height: 51px;
}
.leftside p{
    color: #FFFFFF;
    width: 459px;
}
.btns{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    gap: 60px;
}
.btns a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btns a:first-child {
    color: #00A8DB;
    background-color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 4px;
}
.btns a:last-child{
    color: #FFFFFF;
    align-self: center;
}
.btns i{
    display: flex;
    
    margin-left: 5px;
    width: 10px;
}
.rightside{
    width: 50%;
}
.navbarinhero .grpe19{
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 650px;
    height: auto;
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners img{
    padding: 120px;
}
.element1{
    display: flex;
    height: 100vh;
    width:100%;
    margin-top: 20px;
}
.leftside1{
    display: flex;
    width: 70%;
    height: auto;
    position: relative;
    margin-top: 0px;
}
.leftside1 img{
    margin:80px;
    height: auto;
}
.imgvec{
    position: absolute;
    z-index: 1;
}
.imggrp{
    position: relative;
    top: -20px;
    z-index: 2;
}
.rightside1{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 50%;
}
.rightside1 h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.rightside1 p{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.rightside1 a{
    margin-top: 20px;
    color: #04AADD;
}
.rightside1 i{
    margin-left: 5px;
}
.element2{
    display: flex;
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 40px;
}
.leftside2{
    width: 50%;
}
.leftside2 h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.leftside2 p{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
    width: 80%;
}
.leftside2 ul{
    margin: 25px 0;
    list-style-type: none;
    padding: 0px;
}
.leftside2 ul li img{
    margin-right: 15px;
}
.leftside2 ul li{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.leftside2 a{
    font-weight: 700;
    font-size: 16px;
    color: #04AADD;
    text-align: center;
}
.leftside2 i{
    margin-left: 8px;
}
.rightside2{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFFBFF;
    height: 90vh;
    margin-top: 80px;
    padding: 90px;
}
.titlings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.titlings h1{
    color: #034D82;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.titlings p{
    text-align: center;
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.blocks3{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.block{
    background-color: #FFFFFF;
    width: 218px;
    height: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.svgc1{
    background: linear-gradient(to top left,#EF4444,#FF8989);
    
}
.svgc2{
    background: linear-gradient(to top left,#3B82F6,#86B4FF);
}
.svgc3{
    background: linear-gradient(to top left,#F59E0B,#FFD285);
}
.svgc4{
    background: linear-gradient(to top left,#14B8A6,#48DFCE);
}
.block .svg{
    fill: white;
    height: 24px;
    width: 24px;
    padding: 16px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.block h2{
    color: #034D82;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.block p{
    color: #90A3B4;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 5px;
    width: 188px;
}
.highlight{
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.2);

}